<div class="container">
  <ul>
    <% @games.each do |game| %>
      <li><%= render partial: 'game', locals: {game: game} %>
        <% unless game.owners.include?(current_user) %>
          <%= render partial: 'add_game_button', locals: {game: game} %>
        <% else %>
          <%= render partial: 'remove_game_button', locals: {game: game} %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<%= paginate @games %>

