body {
	background-color: #F9FCF5;
}

header {
	width:100%;
  line-height: 70px;
	height: 70px;
	background-color: #3F423B;
}

header h1.brand {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;      
	margin: 0;
	margin-left: 20px;
}

header nav{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;    
}

header nav li{
	margin-left: 30px;
	display: inline
}

a {
	color: #7DC224;
	text-decoration: none;
}

a:hover {
	color: #9ECC63;
}

button,
input[type="submit"] {
	border: 0;
	border-radius: 3px;
	padding: 6px;
	background-color: #3A6206;
	color: #D8F4B4;
}

.container {
	margin: 30px;
	max-width: 700px;
}