<header>
  <h1 class="brand"><a class="navbar-brand" href="/">SocialGaming</a></h1>
  <nav>
  <% if current_user %>
    <%= render "layouts/nav_loggedin" %>
  <% else %>
    <%= render "layouts/nav_loggedout" %>
  <% end %>
  </nav>
</header>